---
import Page from "../../layouts/Page.astro";
import { type CollectionEntry, getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";
import { render } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const { Content } = await render(post);
---

<Page title={post.data.title}>
  <article>
    <small>
      <FormattedDate date={post.data.pubDate} />
      {
        post.data.updatedDate && (
          <div class="last-updated-on">
            Zaktualizowano dnia <FormattedDate date={post.data.updatedDate} />
          </div>
        )
      }
    </small>
    <h1>{post.data.title}</h1>
    <hr />
    <Content />
  </article>
</Page>
<style>
  article {
    background-color: inherit;
    padding: 0;
  }
  small {
    font-style: italic;
  }
</style>
