---
import Page from "../../layouts/Page.astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";
import FormattedDate from "../../components/FormattedDate.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
  .filter((post) => post.data.published !== false);
---

<Page title="Blog">
  <section id="blog">
    <h2>Blog</h2>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.id}/`}>
              <span>{post.data.title}</span>
            </a>{" "}
            <br />
            <small>
              <FormattedDate date={post.data.pubDate} />
            </small>
          </li>
        ))
      }
    </ul>
  </section>
  <section id="feed">
    <h2>Subskrybuj</h2>
    <p>Subskrybuj nasz kanał RSS, aby być na bieżąco z nowościami na blogu.</p>
    <p>
      <a href={`/rss.xml`} type="application/rss+xml">
        <Icon name="fa-solid:rss" />
        <span>Subskrybuj kanał RSS</span>
      </a>
    </p>
    <p>
      Zapisz się na naszą listę mailingową, aby otrzymywać powiadomienia o
      nowych wpisach na blogu.
    </p>
    <p>
      <a
        href="https://lists.hackerspace.pl/mailman3/lists/poz.lists.hackerspace.pl/"
      >
        <Icon name="fa-solid:envelope" />
        <span>Zapisz się na listę mailingową</span>
      </a>
    </p>
  </section>
</Page>
<style></style>
