[data-theme="dark"] {
  --pico-font-size: 110%;
  --pico-h3-color: #e0e3e7;
  --pico-h4-color: #e0e3e7;
  --pico-h5-color: #e0e3e7;
  --pico-h6-color: #e0e3e7;
  --pico-primary: #22c100;
  --pico-primary-hover: #22c141;
}
body {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: justify;
}
a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 5px;
}
section {
  margin-bottom: 2rem;
}
a span {
  text-decoration: underline;
}
a:not(:has(svg)) {
  text-decoration: underline;
}
