---
export const prerender = true;

import Page from "../layouts/Page.astro";
import EventList from "../components/EventList.astro";
import { IBAN, KRS, NIP, REGON } from "../consts";
import { Icon } from "astro-icon/components";
---

<Page title="" description="Budujemy hackerspace w Poznaniu!">
  <section id="info">
    <h2>O nas</h2>
    <p>
      <strong>Knyfyrtel Hackerspace Poznań</strong> jest inicjatywą stworzenia przestrzeni
      typu <a href="https://pl.wikipedia.org/wiki/Hackerspace">hackerspace</a> -
      wyjątkowego miejsca na mapie Poznania, w którym ludzie zainteresowani technologią,
      wolnym oprogramowaniem i kulturą hakerską będą mogli się spotykać, uczyć i
      rozwijać swoje pasje. Naszym celem jest stworzenie otwartej, inkluzywnej społeczności,
      która będzie wspierać kreatywność i wymianę wiedzy w tych obszarach. Chcemy,
      aby Knyfyrtel był miejscem, gdzie ludzie mogą eksperymentować, dzielić się
      pomysłami i realizować swoje projekty.
    </p>
  </section>

  <section id="kontakt">
    <h2>Kontakt</h2>
    <p>
      Mamy konto na Mastodonie:
      <a href="https://fosstodon.org/@hspoz">
        <Icon name="fa-brands:mastodon" />
        <span>@hspoz@fosstodon.org</span>
      </a>
    <p>
      Konwersujemy w sieci Matrix:
      <a href="https://matrix.to/#/#hspoz:hackerspace.pl">
        <Icon name="simple-icons:matrix" />
        <span>#hspoz:hackerspace.pl</span>
      </a>
      <small>
        (<a href="https://matrix.to/#/#hs-knyfyrtel:juniorjpdj.pl">
          pozostałe pokoje
        </a>)<br />
      </small>
      IRC: <code>#hspoz</code> na <code>irc.libera.chat</code>
    <p>
      Nie potrafisz mIRCować? Nie szkodzi!
      <br />
      Wejdź <a href="https://web.libera.chat/">w tego klienta WWW</a>, wpisz pseudonim i dołącz do czatu <em>teraz!</em>
      <sub>Do czasu aż zamkniesz przeglądarkę.</sub>
    <p>
      E-mail: <a href="mailto:tej@hspoz.pl">
        <Icon name="mdi:email" />
        <span>tej@hspoz.pl</span>
      </a>
    </p>
  </section>

  <section id="donate">
    <h2>Zbieramy 1.5% podatku</h2>
    <p>
      Wesprzyj nas, przekazując 1.5% podatku na rzecz naszego stowarzyszenia.
      Wystarczy, że podasz numer KRS <strong>0000270261</strong> wraz z celem szczegółowym
      <strong>Knyfyrtel 25633</strong> w swoim zeznaniu podatkowym. Zbiórkę prowadzi
      dla nas
      <a href="https://fsmm.pl/partner/knyfyrtel-hackerspace-poznan/">
        Fundacja Studencka Młodzi Młodym
      </a>.
    </p>
    <p>
      Jeśli chcesz wesprzeć nas finansowo, możesz to zrobić również
      bezpośrednio. Wyślij przelew na nasze konto bankowe
      <strong>{IBAN}</strong> tytułem
      <strong>DAROWIZNA NA CELE STATUTOWE</strong>
      (<a href={`qr-przelew.gif`}>skanuj kod QR</a>).
    </p>
  </section>

  <EventList />

  <section id="newsletter">
    <h2>Newsletter</h2>
    <p>
      Chcesz być na bieżąco z działalnością naszego hakerspejsu? Zapisz się na
      naszą listę mailingową! Mniej więcej raz w miesiącu wysyłamy newsletter z
      informacjami o wydarzeniach, projektach i innych ciekawostkach z życia
      Knyfyrtla.
    </p>
    <p>
      <a
        href="https://lists.hackerspace.pl/mailman3/lists/poz.lists.hackerspace.pl/"
      >
        <Icon name="fa-solid:envelope" />
        <span>Zapisz się na listę mailingową</span>
      </a>
    </p>
    <p>
      Archwialne wydania newslettera znajdziesz także w zakładce
      <a href={`/blog`}>Blog</a>.
    </p>
  </section>

  <section id="stowarzyszenie">
    <h2>Dane stowarzyszenia</h2>
    <strong><i>Knyfyrtel Hackerspace Poznań</i></strong><br />
    KRS <strong><i>{KRS}</i></strong><br />
    NIP <strong><i>{NIP}</i></strong><br />
    REGON <strong><i>{REGON}</i></strong><br />
    IBAN: <strong><i>{IBAN}</i></strong>
  </section>
</Page>
