---
import Page from "../layouts/Page.astro";
import EventList from "../components/EventList.astro";
import { IBAN, KRS, NIP, REGON, STATUT_URL } from "../consts";
---

<Page
  title="Wesprzyj nas"
  description="Wesprzyj nas finansowo lub przekazując 1.5% podatku."
>
  <section id="Wesprzyj-nas">
    <h3>Zbieramy 1.5% podatku</h3>
    <p>
      Wesprzyj nas, przekazując 1.5% podatku na rzecz naszego stowarzyszenia.
      Wystarczy, że podasz numer KRS <strong>0000270261</strong> wraz z celem szczegółowym
      <strong>Knyfyrtel 25633</strong> w swoim zeznaniu podatkowym. Zbiórkę prowadzi
      dla nas
      <a href="https://fsmm.pl/partner/knyfyrtel-hackerspace-poznan/">
        Fundacja Studencka Młodzi Młodym
      </a>.
    </p>
    <h3>Przelew bankowy</h3>
    <p>
      Jeśli chcesz wesprzeć nas finansowo, możesz to zrobić również
      bezpośrednio. Wyślij przelew na nasze konto bankowe
      <strong>{IBAN}</strong> tytułem
      <strong>DAROWIZNA NA CELE STATUTOWE</strong>
      (<a href={`/qr-przelew.gif`}>skanuj kod QR</a>).
    </p>
    <h3>Darowizny rzeczowe</h3>
    <p>
      Jeśli chciałbyś przekazać nam sprzęt, meble, narzędzia lub inne materiały,
      które mogą być przydatne w naszym hackerspace, daj nam znać na naszym <a
        href="https://matrix.to/#/#hspoz:hackerspace.pl"
      >
        kanale Matrix
      </a> lub napisz maila na <a href="mailto:tej@hspoz.pl">tej@hspoz.pl</a>.
    </p>
  </section>
</Page>
