---
import Page from "../layouts/Page.astro";
import { IBAN, STATUT_URL } from "../consts";
---

<Page
  title="Zapisz się"
  description="Dołącz do nas! Sprawdź jak zostać członkiem stowarzyszenia."
>
  <section id="zapisz-sie">
    <h2>Dołącz do nas!</h2>
    <p>
      Członkowie stowarzyszenia będą mieć zapewniony całodobowy dostęp do
      infrastruktury hakerspejsu, będą mogli korzystać z narzędzi, sprzętu i
      materiałów, organizować wydarzenia dla społeczności, a także
      współdecydować o kierunkach rozwoju stowarzyszenia. Jeśli chcesz zostać
      naszym członkiem, zapoznaj się z poniższymi zasadami:
    </p>
    <ol>
      <li>
        Przyjdź na kilka spotkań, aby poznać naszą społeczność. Upewnij się, że
        czujesz klimat tej inicjatywy i utożsamiasz się z naszymi wartościami.
      </li>
      <li>
        Przeczytaj i zaakceptuj <a href={STATUT_URL}>statut stowarzyszenia</a>.
      </li>
      <li>
        Wydrukuj i wypełnij <a href={`/deklaracja_czlonkowska.pdf`}>
          deklarację członkowską
        </a>.
      </li>
      <li>Uzyskaj rekomendację (podpis) od jednego członka stowarzyszenia.</li>
      <li>
        Przekaż deklarację jednemu z członków Zarządu stowarzyszenia (Vil /
        voltar / pomidor). Czekaj na odpowiedź.
      </li>
      <li>
        Po pozytywnym rozpatrzeniu deklaracji przez Zarząd dokonaj wpłaty
        składki członkowskiej na konto stowarzyszenia.
      </li>
    </ol>
    <h2>Składki członkowskie</h2>
    <p>
      Członkowie stowarzyszenia zobowiązani są do regularnego opłacania składek.
      Aktualna wysokość składki członkowskiej wynosi
      <strong>150 zł miesięcznie</strong>. W wyjątkowych przypadkach zarząd
      stowarzyszenia może zadecydować o obniżeniu składki dla danego członka.
    </p>

    <table class="striped">
      <tr>
        <td><strong>Numer konta</strong></td>
        <td>{IBAN}</td>
      </tr>
      <tr>
        <td><strong>Odbiorca</strong></td>
        <td>Knyfyrtel Hackerspace Poznań</td>
      </tr>
      <tr>
        <td><strong>Adres</strong></td>
        <td>Augustyna Szamarzewskiego 21/2, 60-514 Poznań</td>
      </tr>
      <tr>
        <td><strong>Tytuł przelewu</strong></td>
        <td>
          <ul>
            <li>składka członkowska</li>
            <li>składka członkowska - styczeń 2025</li>
            <li>
              składka członkowska - za Jana Kowalskiego
              <small>
                <i>(jeśli płacisz za kogoś)</i>
              </small>
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
</Page>
