---
import EventDate from "../components/EventDate.astro";

const response = await fetch("https://mobilizon.pl/api", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
        query: `
query FetchGroupEvents($name: String!, $afterDateTime: DateTime, $beforeDateTime: DateTime, $order: EventOrderBy, $orderDirection: SortDirection, $organisedEventsPage: Int, $organisedEventsLimit: Int) {
  group(preferredUsername: $name) {
    organizedEvents(
      afterDatetime: $afterDateTime
      beforeDatetime: $beforeDateTime
      order: $order
      orderDirection: $orderDirection
      page: $organisedEventsPage
      limit: $organisedEventsLimit
    ) {
      elements {
        title
        beginsOn
        status
  		  onlineAddress
		    url
      }
      total
      __typename
    }
    __typename
  }
}
      `,
        variables: {
            name: "hspoz_group",
            afterDateTime: new Date().toISOString(),
        },
    }),
});

const json = await response.json();
const events = json.data.group.organizedEvents.elements;

events.forEach((event: any) => {
    event.website = event.onlineAddress ? event.onlineAddress : event.url;
});
---

<section id="wydarzenia">
    <h2>Wydarzenia</h2>
    {
        () => {
          if (events.length > 0) {
            return(
              <p>
                  Poniżej znajdziesz listę najbliższych wydarzeń organizowanych
                  przez naszą społeczność:
              </p>
              <ul>
                  {
                      events.map((event: any) => (
                          <li>
                              <a href={event.website}>{event.title}</a> -
                              <EventDate date={event.beginsOn} />
                          </li>
                      ))
                  }
              </ul>
            )
          } else {
            return(
              <p>
                  <i>Aktualnie nie mamy zaplanowanych żadnych wydarzeń.</i>
              </p>
            )
          }
        }
    }

    <p>
        Listę wszystkich wydarzeń znajdziesz na naszym 
        <a href="https://mobilizon.pl/@hspoz_group">profilu Mobilizon</a>.
    </p>
</section>
