---
const today = new Date();
import { STATUT_URL } from "../consts";
---

<footer>
  <p>&copy; {today.getFullYear()} Knyfyrtel Hackerspace Poznań</p>
  <p>
    <a href={STATUT_URL}>statut</a> |
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>
  </p>
  <small>
    Ostatnia aktualizacja:
    <time datetime={today.toISOString()}>
      {today.toLocaleString("PL")}
    </time>
  </small>
</footer>
<style>
  footer {
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    border-top: 1px solid #444;
    font-size: 0.9em;
  }
</style>
