---
import { Image } from "astro:assets";
import Logo from "/public/logo.png";
import { Icon } from "astro-icon/components";
---

<header>
  <Image src={Logo} id="logo" alt="Knyfyrtel Hackerspace Poznań" width="400" />
  <nav>
    <a href={`/`}>
      <Icon name="fa-solid:home" /> Strona główna
    </a>
    <a href={`/blog/`}>
      <Icon name="fa-solid:rss" /> Blog
    </a>
    <a href="https://wiki.knyfyrtel.pl">
      <Icon name="fa-solid:book" /> Wiki
    </a>
    <a href="https://codeberg.org/HSPOZ/">
      <Icon name="fa-brands:git-alt" /> Git
    </a>
    <a href={`/zapisz-sie`}>
      <Icon name="fa-solid:users" /> Zapisz się
    </a>
    <a href={`/wesprzyj-nas`}>
      <Icon name="fa-solid:donate" /> Wesprzyj nas
    </a>
  </nav>
</header>
<style>
  nav {
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding-top: 1rem;
    border-top: 1px solid #444;
    margin-bottom: 1rem;
  }
  #logo {
    display: block;
    margin: 1rem auto;
    padding-bottom: 1rem;
  }
</style>
